.search-engines-container {
    .engine-list {
        ul {
            list-style: none;
            display: flex;

            li {
                background-color: #edf2f5;
                color: #333;
                font-size: 14px;
                height: 32px;
                padding: 0 15px;
                line-height: 32px;
                user-select: none;
                margin-right: 10px;
                border-radius: 8px;
                transition: all 0.5s;
                cursor: pointer;
            }

            li.selected {
                background-color: #18bad7;
                color: #fff;
            }
        }
    }

    .search-popup-menu {
        position: fixed;
        z-index: 99;
        background-color: #2c2c2c;
        padding: 8px;
        color: #fff;
        border-radius: 4px;

        .popup-menu-item {
            font-size: 12px;
            padding: 5px 10px;
            cursor: pointer;
            margin-bottom: 3px;
            border-radius: 3px;

            &:hover {
                background: #575656;
                color: #fff;
            }
        }

        .popup-menu-item:last-child {
            margin-bottom: 0;
        }
    }
}