.page-container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
    .content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        overflow: hidden;
        .search {
            max-width: 60%;
            margin: 30px auto;
            padding: 5px;
        }
        .frequent-bookmarks {
            width: 80%;
            margin: 0 auto;
        }
        .fixed-sidebar {
            padding-top: 15px;
            width: 60px;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background: #00000954;

            .box-item {
                width: 100%;
                height: 60px;
                cursor: pointer;
                .icon-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover .icon {
                    transform: scale(1.3);
                }
            }

            .icon {
                width: 30px;
                height: 30px;
                fill: rgb(234, 224, 224);
                cursor: pointer;
                margin-bottom: 8px;
                transition: all 0.3s;
            }
            .affix-icon {
                width: 30px;
                height: 30px;
                fill: #ddd;
                cursor: pointer;
                transition: all 0.7s;

                &:hover {
                    transform: rotate(270deg);
                }
            }
        }
        .time {
            position: absolute;
            right: 60px;
            bottom: 60px;
        }
    }
    .dy-background {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .popup {
        position: absolute;
        z-index: 9999;
        width: 160px;
        background: #fff;
        box-shadow: -2px 2px 2px #cab8b8;
        ul {
            width: 100%;
            list-style: none;
            li {
                height: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 0 0 8px;
                font-weight: 300;
                font-size: 14px;
                cursor: pointer;
                .icon {
                    fill: #333;
                    margin: -3px 4px 0 0;
                }
                &:hover {
                    background: #eee;
                }
            }
        }
    }
}
