@search-height: 160px;

.layout-container {
    width: 100%;
    height: 100%;
    display: flex;

    .right-content {
        flex: 1;

        .search {
            height: @search-height;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 7;
        }

        .grid-list-container {
            width: 100%;
            height: calc(100% - @search-height);
            padding: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
    }



    .fixed-sidebar {
        width: 60px;
        height: 100%;
        background: #00000954;

        .box-item {
            width: 100%;
            height: 60px;
            cursor: pointer;

            .icon-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover .icon {
                transform: scale(1.3);
            }
        }

        .icon {
            width: 30px;
            height: 30px;
            fill: rgb(234, 224, 224);
            cursor: pointer;
            margin-bottom: 8px;
            transition: all 0.3s;
        }

        .affix-icon {
            width: 30px;
            height: 30px;
            fill: #ddd;
            cursor: pointer;
            transition: all 0.7s;

            &:hover {
                transform: rotate(270deg);
            }
        }
    }


}