.grid-component-container {
    width: 100%;
    height: 100%;
    padding-top: 30px;

    .search {
        max-width: 60%;
        padding: 5px;
        margin: auto;
        margin-bottom: 30px;
    }

    .frequent-bookmarks {
        width: 80%;
        margin: 0 auto;
    }

    .fixed-sidebar {
        padding-top: 15px;
        width: 60px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: #00000954;

        .box-item {
            width: 100%;
            height: 60px;
            cursor: pointer;

            .icon-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover .icon {
                transform: scale(1.3);
            }
        }

        .icon {
            width: 30px;
            height: 30px;
            fill: rgb(234, 224, 224);
            cursor: pointer;
            margin-bottom: 8px;
            transition: all 0.3s;
        }

        .affix-icon {
            width: 30px;
            height: 30px;
            fill: #ddd;
            cursor: pointer;
            transition: all 0.7s;

            &:hover {
                transform: rotate(270deg);
            }
        }
    }

    .time {
        position: absolute;
        right: 60px;
        bottom: 60px;
    }

}