.form {
    margin-top: 20px;
    .form-item {
        margin-bottom: 20px;
        .label {
            margin-bottom: 6px;
            color: #666;
            .err {
                display: inline-block;
                margin-left: 5px;
                color: red;
            }
        }
        input {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 6px 12px;
            outline: none;
            border: none;
            border: 1px solid rgb(179, 173, 173);
            border-radius: 3px;
        }
    }
    .search {
        position: relative;
        .favicon {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
        input {
            padding-right: 28px;
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        .rambler-button {
            margin-left: 8px;
        }
    }
}
